* {
    box-sizing: border-box;
}

#container {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    background: #053913;
    color: #fff;
}

.player {
    overflow: auto;
    float: left;
    padding: 15px;
    width: 50%;
}

.result {
    width: 100%;
    text-align: center;
}

.card {
    width: 200px;
    height: 320px;
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
    float: left;
    margin-right: 20px;
    font-size: 35px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    background: #fff;
    color: #000;
}

.score {
    width: 100%;
    clear: both;
    padding-top: 10px;
}

[class*="hearts-"],
[class*="diamonds-"] {
    border-color: #ff0000;
    color: #ff0000;
}

[class*="diamonds-"]:before,
[class*="diamonds-"]:after {
content: "♦";
}

[class*="hearts-"]:before,
[class*="hearts-"]:after {
    content: "♥";
}

[class*="clubs-"]:before,
[class*="clubs-"]:after {
    content: "♣";
}

[class*="spades-"]:before,
[class*="spades-"]:after {
    content: "♠";
}

.card:before {
    position: absolute;
    top: 15px;
    left: 15px;
}

.card:after {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card span {
    position: absolute;
    left: 0%;
    top: 23%;
    width: 100%;
    text-align: center;
    font-size: 150px;
}

.card[class*="-ace"] span:before {
    content: "A";
}

div[class$="-2"] span:before {
    content: "2";
}

.card[class*="-3"] span:before {
    content: "3";
}

.card[class*="-4"] span:before {
    content: "4";
}

.card[class*="-5"] span:before {
    content: "5";
}

.card[class*="-6"] span:before {
    content: "6";
}

.card[class*="-7"] span:before {
    content: "7";
}

.card[class*="-8"] span:before {
    content: "8";
}

.card[class*="-9"] span:before {
    content: "9";
}

.card[class*="-10"] span:before {
    content: "10";
}

.card[class*="-jack"] span:before {
    content: "J";
}

.card[class*="-queen"] span:before {
    content: "Q";
}

.card[class*="-king"] span:before {
    content: "K";
}